html {
    &,
    footer {
        background-color: rgb(26, 24, 24);
        color: white;
    }
    footer {
        padding: 10px;
        max-height: 100px;
        .contacts {
            padding: 10px;
        }
    }
    .app {
        margin: auto;
        .app-content {
            margin: 60px;
            min-width: 90%;
            min-height: 300px;
            .games {
                .game {
                    margin: 12px;
                    padding: 7px;
                    width: 31%;
                    height: 250px;
                    display: inline-block;
                    border-radius: 10%;
                    color: black;

                    $block-height: 70%;
                    .block-left {
                        width: 63%;
                        height: $block-height;
                        float: left;
                        img {
                            width: 110%;
                            height: 90%;
                            border-radius: 10%;
                        }
                    }
                    .block-right {
                        width: 30%;
                        height: $block-height;
                        float: right;
                        $size: 19.5%;
                        .star-rating {
                            .item {
                                * {
                                    width: $size;
                                    height: $size;
                                    flex: 0 0 $size;
                                }
                            }
                            .active { // цвет звёздочки
                                color: #ffd000;
                            }
                        }
                    }
                    &:hover {
                        background-color: rgb(228, 225, 225);
                        cursor: pointer;
                    }
                    h3:hover {
                        color: red;
                    }
                    * {
                        padding: 0.1px;
                    }
                    @media (max-width: 900px) {
                        & {
                            width: 40%;
                        }
                    }
                    @media (max-width: 750px) {
                        & {
                            width: 70%;
                        }
                    }
                }
            }
            .cart {
                cursor: pointer;
                width: 40px;
                height: 40px;
                margin-right: 25px;
            }
            .img {
                border-radius: 10%;
                width: 50%;
                height: 30%;
                float: left;
                margin: 13px 13px 13px 0;
            }
            .basket {
                .item {
                    height: 100px;
                    * {
                        margin: 3%;
                    }
                }
            }
        }
        @import "./default.scss";
    }
}
