.noblock {
    display: inline-block;
}
.red {
    color: red;
}
.green {
    color: green;
}
.yellow {
    color: rgba(187, 190, 10, 0.562);
}
.dark {
    * {
        background-color: black;
        color: white;
    }
}
.light {
    * {
        background-color: white;
        color: black;
    }
}
.center {
    text-align: center;
    * {
        text-align: center;
    }
}
.right {
    float: right;
}
.left {
    float: left;
}
.top {
    float: top;
}
.count {
    color: red;
}
