.app {
    margin: auto;
}
html,
footer {
    background-color: rgb(26, 24, 24);
    color: white;
}
footer {
    padding: 10px;
    max-height: 100px;
}
.contacts {
    padding: 10px;
}
.game-in-basket {
    height: 100px;
}
.game-in-basket .item {
    margin: 30px;
}
.count {
    color: red;
}
.app-content {
    margin: 60px;
    min-height: 400px;
}
.right {
    float: right;
}
.left {
    float: left;
}
.top {
    float: top;
}
.games {
    display: flexbox;
}
.game {
    margin: 4px;
    width: 32%;
    height: 250px;
    display: inline-block;
}
.game-name {
    max-width: 4fr;
}
.game * {
    margin: 8px;
}
.game {
    border-radius: 10%;
}
a.game {
    color: black;
}
.game-img {
    width: 69%;
    height: 60%;
    border-radius: 10%;
}
.cart {
    cursor: pointer;
    width: 1fr;
}
.game h3:hover {
    color: red;
}
.game:hover {
    background-color: rgb(228, 225, 225);
    cursor: pointer;
}
.noblock {
    display: inline-block;
}
.block-left {
    width: 69%;
    height: 60%;
    float: left;
}
.block-right {
    width: 31%;
    height: 100%;
}
.red {
    color: red;
}
.green {
    color: green;
}
.yellow {
    color: rgba(187, 190, 10, 0.562);
}
.center {
    text-align: center;
}
.basket {
    margin: auto;
}
.loader {
    position: absolute;
}
