.app {
    margin: auto;
}
html,
footer {
    background-color: rgb(41, 37, 37);
    color: white;
}
footer {
    padding: 10px;
    max-height: 20%;
}
.contacts {
    padding: 10px;
}
.game-in-basket {
    height: 100px;
}
.game-in-basket .item {
    margin: 30px;
}
.count {
    color: red;
    margin-top: 10px;
}
.app-content {
    margin: 60px;
}
.game h4:hover {
    color: red;
    text-decoration: none;
}
.right {
    float: right;
    margin-right: 0px;
}
.game h4,
.game div,
.game b {
    margin: 10px;
}
.game {
    height: 100px;
}
.game:hover {
    background-color: rgb(228, 225, 225);
    cursor: pointer;
}
.loader {
}
.noblock {
    display: inline-block;
}
.block-left {
    width: 50%;
    height: 1000px;
    overflow: auto;
    float: left;
}
.block-right {
    padding-left: 20px;
    width: 50%;
    height: 1000px;
    overflow: auto;
}
.red {
    color: red;
}
.center {
    text-align: center;
}
.basket{
    min-height: 400px;
}
