.app {
    margin: auto;
}
html,
footer {
    background-color: rgb(26, 24, 24);
    color: white;
}
footer {
    padding: 10px;
    max-height: 100px;
}
.contacts {
    padding: 10px;
}
.game-in-basket {
    height: 100px;
}
.game-in-basket .item {
    margin: 30px;
}
.count {
    color: red;
    margin-top: 10px;
}
.app-content {
    margin: 60px;
    min-height: 400px;
}
.right {
    float: right;
}
.left {
    float: left;
}
.game {
    margin: 5px;
    width: 500px;
    height: 320px;
    display: inline-block;
}
.game-img {
    margin: 8px;
    width: 400px;
    height: 230px;
}
.cart {
    margin-bottom: 25px;
    margin-right: 25px;
    cursor: pointer;
}
.game h3:hover {
    color: red;
}
.game:hover {
    background-color: rgb(228, 225, 225);
    cursor: pointer;
}
.noblock {
    display: inline-block;
}
.block-left {
    width: 50%;
    height: 1000px;
    overflow: auto;
    float: left;
}
.block-right {
    padding-left: 20px;
    width: 50%;
    height: 1000px;
    overflow: auto;
}
.red {
    color: red;
}
.green {
    color: green;
}
.yellow {
    color: rgba(187, 190, 10, 0.562);
}
.center {
    text-align: center;
}
.basket {
    margin: auto;
}
